$flavors-list: ("plain", "mint", "strawberry", "banana", "peanut");
$borderSize: 32;

.window {
  background-color: #220d27;
  border: #{$borderSize / 2}px solid;
  border-radius: #{$borderSize * 1.5}px;
  color: #f7f7f7;
  font: 32px/1 "Apple Kid", monospace;
  padding: #{$borderSize / 2}px;
}

@each $flavor in $flavors-list {
  .flavor-#{$flavor} {
    border-image: url("/assets/borders/#{$flavor}.gif") $borderSize round;
  }
}
